@charset "UTF-8";
.active {
            background-color: #333333; /* 활성화된 버튼의 배경색을 변경 */
            color: #FCFCFC; /* 활성화된 버튼의 글자색을 변경 */
        }
        
		.button-container button.active {
    		border-bottom: none; /* 활성화된 버튼의 선을 제거 */
		}
		
		.main_info span,
        .main_info .table-container {
            margin-left: 30px;
        }

.cntt{
	margin-left: 30px;
}

.button-container {
	width:auto;
	/* border : 1px solid red; */
	display : flex;
	margin-left: 30px;
}
        
/* 게시판 테이블 스타일 */
.board-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

.board-table th, .board-table td {
	padding: 8px;
	border: 1px solid #ddd;
}

.board-table th {
	background-color: #f2f2f2;
	text-align: center;
}

.board-table td {
	text-align: center;
}

.board-table a {
	color: #333;
}