@charset "UTF-8";
.active {
	/* width : 53.4px;
	height : 53.4px; */
	border-top : 1px solid #212121;
	border-left : 1px solid #212121;
	border-right : 1px solid #212121;
	border-bottom : none;
	background-color: #FFFFFF;
}
.non_active {
	border-top : 1px solid #E0E0E0;
	border-left : 1px solid #E0E0E0;
	border-right : 1px solid #E0E0E0;
	border-bottom : 1px solid #212121;
}
        
/* .button-container button.active {
  		border-bottom: none; 활성화된 버튼의 선을 제거
} */

.main_info span,
.main_info .table-container {
    margin-left: 30px;
}

span{
	font-size: 25px;
}

.cntt{
	margin-left: 30px;
	font-weight: bold;
}

.button-container {
	width:auto;
	/* border : 1px solid red; */
	display : flex;
	margin-left: 30px;
	position: relative;
}



#buttonA{
    background-color: #FFFFFF;
    text-align: center;
    width : 100px;
    height: 45px;
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    
    color :#333333;
}

#buttonB{
	background-color: #FFFFFF;
    text-align: center;
    width : 100px;
    height: 45px;
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    
    color :#333333;
}

.button-container .side{
	border-bottom : 1px solid black;
	width : 800px;
}
        
/* 게시판 테이블 스타일 */
.board-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	margin-bottom: 20px;
}

.board-table th, .board-table td {
	padding: 8px;
	border: 1px solid #ddd;
	text-align: center;
	vertical-align: middle;
	font-size : 16px;
}

.board-table th {
	background-color: #F6F6F6;
	font-weight: bold;	
}

.board-table thead tr,
.board-table thead tr {
	height: 45px;
}

/* .board-table td {
	text-align: center;
	vertical-align: middle;
}
 */
.board-table a {
	color: #333;
}

.reservation_detail_button {
	border : 1px solid #B7B7B7;
	background-color : #FAFAFA;
	color : #646464;
	width: 70px;
	height: 30px;
	
	cursor: pointer;
}