.container {
    width: 1240px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* height: 100%; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* display: flex;
	flex-direction: column;
	justify-content : center;
	align-items: center; */
}

/*main*/
main {
    display: flex;
    justify-content: center;
}

.main_container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main_info {
    height: 100%;
    width: 1000px;   
}

.gap {
    height: 50px;
}
/* 
@media (min-width : 1690px) {
    .container {width: 1690px};
}
@media (min-width : 2030px) {
    .container {width: 2030px};
}
 */
