.side_bar {
    width: 200px;
    height: 700px;
    border-right: 2px solid #999999;
}


h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    color : #999999;
}

hr {
    width: 50px;
    height: 2px;
    margin-top: 40px;
    background-color: black;
}

.category_container {
    margin-top: 50px;
}

.my_category {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.detail_category {
    margin-top: 10px;
    margin-left:20px;
    font-size: 15px;
    color : #999999;

    text-decoration: none;
}

.check_menu {
    display: flex;
    flex-direction: column;
}

.info_menu {
    display: flex;
    flex-direction: column;
}