@charset "UTF-8";

.location{
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
	margin-left : 40px;
}

.location_1{
	font-size: 17px;
	font-weight : 550;
	margin-right: 20px;
	/* text-align: center; */
	
	display: flex;
	align-items: center;
}

.radio-container {
	display: flex;
	align-items: center;
}

.radio-container1 {
	display: flex;
	align-items: center;
}


.facility{
	display: flex;
	flex-direction: row;
	margin-left : 40px;
}

.facility_1{
	font-size: 17px;
	font-weight : 550;
	margin-right: 20px;
	
	display: flex;
	align-items: center;
}

.spec{
	font-size : 15px;
	margin-top: 30px;
	margin-left : 40px;
}

.review{
	border-top : 1px solid #A8A4A4;
	margin-left : 40px;
	padding-top: 20px;
	padding-bottom : 30px;
	margin-top: 20px;
}

.review_1{
	display: flex;
	flex-direction: row;
	font-size: 15px;
}


.review_1 .name{
	margin-right: 20px;
	font-size : 16px;
}

.rating_1 {
	font-size : 16px;
}


.date{
	font-size: 16px;
}


.rating{
	display: flex;
	flex-direction: row;
	margin-right:120px;
}

.rating i {
  cursor: pointer;
  font-size: 15px; /* 아이콘의 크기를 조절합니다. */
}
/* .rating .fas {
  color: #ffd700;
} */

.full_star {
  color: #ffd700;
}

.zero_star {
  color: #E6E6EA;
}

.star-group{
	margin-right: 375px;
	margin-left: 10px;
	height: 15px;
	width: 110px;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}

/* .rating .fa-star.fas {
  color: #FAE100;
  margin-left: 5px;
} */

.review_2{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.image{
	margin-right: 50px;
}


.contents{
	width : 750px;
	
	padding-left: 10px;
	padding-top: 10px;
	background-color: #F6F6F6;
}

.admin{
	margin-left : 100px;
	display: flex;
	flex-direction: row;
	font-size: 15px;
}

.admin .admin_1{
	margin-right: 110px;
	font-size : 16px;
}

.admin_2 {
	font-size : 16px;
}


.radio-label {
  display: inline-block;
  margin-right: 5px;
}

.radio-input {
  display: none;
}

.radio-label .radio-input:checked + .radio-custom {
  background-color: #333333;
  border: 1px solid #333333;
  color: #fff;
}

.radio-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 30px;
  border: 1px solid #666666;
  background-color: white;
  border-radius : 20px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color : #666666;
}


.radio-label1 {
  display: inline-block;
  margin-right: 5px;
}

.radio-input {
  display: none;
}

.radio-label1 .radio-input:checked + .radio-custom1 {
  background-color: #333333;
  border: 1px solid #333333;
  color: #fff;
}

.radio-custom1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  border: 1px solid #666666;
  background-color: white;
  border-radius : 20px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color : #666666;
}


.pageInfo_wrap{
	margin-top : 20px;
}

.pageInfo_area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.no_dot {
	  list-style-type: none;
	}

.pageInfo_btn {
  list-style-type: none;
  display: inline-block;
  
  display : flex;
  justify-content : center;
  align-items : center;
  
  font-size: 18px;
  margin-left: 15px;
  
  width: 25px;
  height: 25px;
  
  border: 1px solid #B7B7B7;
  background-color: #FAFAFA;
  color : #646464;
  
}

.pageInfo_btn a {
  color: black;
  text-decoration: none;
}

.pageInfo_btn:hover {
  background-color: #cdd5ec;
  border: 1px solid #cdd5ec;
}

.pageInfo_btn.active {
  background-color: #9fabcf;
  border: 1px solid #9fabcf;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

.active {
  background-color: #F6F6F6;
  border: 1px solid #F6F6F6;
}




