@charset "UTF-8";

.location{
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
	margin-left : 40px;
}

.location_1{
	font-size: 15px;
	margin-right: 20px;
	text-align: center;
	padding-top : 12px;
}

.facility{
	display: flex;
	flex-direction: row;
	margin-left : 40px;
}

.facility_1{
	font-size: 15px;
	margin-right: 20px;
	margin-bottom: 30px;
	padding-top : 12px;
}

.spec{
	font-size : 15px;
	padding-bottom: 10px;
	margin-left : 40px;
}

.review{
	border-top : 1px solid #A8A4A4;
	margin-left : 40px;
	padding-top: 20px;
	padding-bottom : 30px;
	margin-top: 20px;
}

.review_1{
	display: flex;
	flex-direction: row;
	font-size: 15px;
}

.review_1 .name{
	margin-right: 20px;
}


.rating{
	display: flex;
	flex-direction: row;
	margin-right:120px;
	
}

.star-group{
	margin-right: 375px;
	margin-left: 10px;
}

.date{
}

.rating .fa-star.fas {
  color: #FAE100;
  margin-left: 5px;
}

.review_2{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.image{
	margin-right: 50px;
}


.contents{
	width : 750px;
	
	padding-left: 10px;
	padding-top: 10px;
	background-color: #F6F6F6;
}

.admin{
	margin-left : 100px;
	display: flex;
	flex-direction: row;
	font-size: 15px;
}

.admin .admin_1{
	margin-right: 110px;
}



.radio-label {
  display: inline-block;
  margin-bottom: 10px;
}

.radio-input {
  display: none;
}

.radio-label .radio-input:checked + .radio-custom {
  background-color: #333333;
  border: 3px solid #333333;
  color: #fff;
}

.radio-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 30px;
  border: 3px solid #666666;
  background-color: white;
  border-radius : 20px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color : #666666;
}


.radio-label1 {
  display: inline-block;
  margin-bottom: 10px;
}

.radio-input {
  display: none;
}

.radio-label1 .radio-input:checked + .radio-custom1 {
  background-color: #333333;
  border: 3px solid #333333;
  color: #fff;
}

.radio-custom1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  border: 3px solid #666666;
  background-color: white;
  border-radius : 20px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color : #666666;
}


.pageInfo_wrap{
	margin-top : 20px;
}

.pageInfo_area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.no_dot {
	  list-style-type: none;
	}

.pageInfo_btn {
  list-style-type: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 18px;
  padding: 7px;
  font-weight: 500;
  border: 1px solid #A8A4A4;
}

.pageInfo_btn a {
  color: black;
  text-decoration: none;
}

.pageInfo_btn:hover {
  background-color: #cdd5ec;
  border: 1px solid #cdd5ec;
}

.pageInfo_btn.active {
  background-color: #9fabcf;
  border: 1px solid #9fabcf;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

.active {
  background-color: #F6F6F6;
  border: 1px solid #F6F6F6;
}




