@charset "UTF-8";

.rating .fa-star.fas {
  color: #ffd700;
}
		
.main_info span{
     margin-left: 30px;
     font-size: 30px;
}

.line{
	border-bottom : 1px solid black;
	margin-left: 60px;
	margin-right: 20px;
	margin-bottom : 15px;
}

.first{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.first_1, .first_3, .rating{
	font-size: 20px;
}

.first_1{
	margin-left: 50px;
}

.rating{
	width:500px;
	display: flex;
	flex-direction: row;
	margin-right: 100px;
}

.rating div{
	margin-right: 15px;
}

.second{
	margin-left: 80px;
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}

.second div{
	font-size: 20px;
	margin-right: 40px;
}

.three{
	margin-left: 70px;
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}

.three div{
	font-size: 17px;
	margin-right: 20px;
	border: 2px solid #E0E0E0;
	background-color: #333333;
	border-radius: 20px;
	color: #FFFFFF;
	padding: 5px;
}

.four{
	margin-left: 60px;
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	height : 200px;
}

.four div{
}

.four_1{
	width : 200px;
	margin-right: 20px;
}

.four_2{
	width : 600px;
	border : 2px solid black;
	align-items: center;
	justify-content: flex-start;
	display: flex;
	font-size: 20px;
	
}

.line1{
	border-bottom: 1px black solid;
	margin-left: 50px;
	margin-top:20px;
	
}

.five{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 10px;
}

.five_1{
	margin-right: 40px;
}

input[type="submit"] {
  background-color: #333333; /* 배경색 */
  color: white; /* 텍스트 색상 */
  padding: 10px 20px; /* 안쪽 여백 */
  font-size: 16px; /* 폰트 크기 */
  border: none; /* 테두리 없음 */
  border-radius: 4px; /* 테두리 반경 */
  cursor: pointer; /* 커서 스타일 */
}

input[type="submit"]:hover {
  background-color: #606060; /* 마우스 오버 시 배경색 */
}

input[type="submit"]:focus {
  outline: none; /* 포커스 시 아웃라인 제거 */
}

#btn-modal{
	background-color: #333333; /* 배경색 */
  color: white; /* 텍스트 색상 */
  padding: 10px 20px; /* 안쪽 여백 */
  font-size: 16px; /* 폰트 크기 */
  border: none; /* 테두리 없음 */
  border-radius: 4px; /* 테두리 반경 */
  cursor: pointer; /* 커서 스타일 */
}

#btn-modal:hover{
	background-color: #606060;
}

#btn-modal:focus{
	outline: none;
}

#modal.modal-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	display: none;
	top: 0;
	/* display: flex; */
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(1.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal .modal-window {
	background: #E5E5E5;
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	width: 400px;
	height: 300px;
	position: relative;
	top: -100px;
	padding: 10px;
}

#modal .modal-topwindow{
	background-color: #242424;
	display : flex;
	flex-direction: row;
	justify-content : space-between;
	height: 50px;
	align-items: center;
	border-radius: 10px;
	margin-bottom: 20px;
}

#modal .title {
	/* padding-left: 10px; */
	color: white;
	text-align: center;
	margin-left: 20px;
}


#modal .close-area {
	/* display: inline; */
	text-align : center;
	/* float: right; */
	/* padding-right: 10px; */
	cursor: pointer;
	/* text-shadow: 1px 1px 2px gray; */
	color: white;
	width:25px;
	height:25px;
}

#modal .content {
	margin-top: 20px;
	padding: 0px 10px;
	text-shadow: 1px 1px 2px gray;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
}

.reviewmodal{
	text-align: center;
	font-size:24px;
	margin-left: 20px;
	margin-top: 30px;
}

#cancelButton{
	margin-right: 30px;
}

.content button{
	
background-color: #333333; /* 배경색 */
  color: white; /* 텍스트 색상 */
  padding: 10px 20px; /* 안쪽 여백 */
  font-size: 14px; /* 폰트 크기 */
  border: none; /* 테두리 없음 */
  border-radius: 4px; /* 테두리 반경 */
  cursor: pointer; /* 커서 스타일 */
} 


/* .material-symbols-outlined {
	
  border : 3px solid blue;
  margin-bottom : 20px;
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
 
}
이부분 span있어서 직접 인라인으로 줌 */

