.add_option_container {
	width : 450px;
	height: 240px;
	
	margin-top : 5%;
}

.add_option_h1 {
	font-size : 30px;
	font-weight: bold;
}

.add_option_counter_box {
	width: 450px;
	height: 150px;
	
	display: flex;
	flex-direction : column;
	justify-content: center;
	align-items: center;

}

.customer_text {
	font-size: 18px;
	font-weight: 600;
	color : #646464;
}

.customer_counter_box {
	width: 350px;
	height: 80px;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	
	border : 1px solid #E0E0E0;
}

.customer_counter_input{
	text-align: center;
	width: 50px;
	height: 30px;
	
	
}

.customer_counter {
	width: 250px;
	height: 50px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.customer_counter_input::-webkit-outer-spin-button,
.customer_counter_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.customer_span {
	margin-left: 3%; 
	margin-right: 5%; 
	color:#646464; 
	font-size: 20px; 
}

.customer_counter_input {
	border : none;
	border-bottom: 3px solid #666666;
	
	margin-left: 5%;
	
	font-size : 25px;
	
	color : #646464;
}

.count_increse,
.count_decrese {
	cursor: pointer;
}
