.care_container {
	width: 1470px;
	height: 900px;
	
	display : flex;
}
.reservation_input {
	width : 490px;
	height: 900px;
	display: flex;
	flex-direction : column;
	align-items : center;
	
	border : 1px solid #B7B7B7;
	/* justify-content: center; */
}

.select_datetime_container {
	width : 490px;
	height: 900px;
	
	border : 1px solid #B7B7B7;
}

.reservation_info_container {
	width : 490px;
	height: 900px;
	display : flex;
	flex-direction : column;
	justify-content : center;
	align-items : center;
	
	border : 1px solid #B7B7B7;
}