.playground_container {
	width: 1470px;
	height: 900px;
	display : flex;
	
	border: 1px solid rebeccapurple;
}

.reservation_input {
	width : 490px;
	height: 900px;
	display: flex;
	flex-direction : column;
	align-items : center;
	/* justify-content: center; */
	border : 1px solid skyblue;
}

.select_datetime_container {
	width : 490px;
	height: 900px;
	border: 1px solid red;
}

.reservation_info_container {
	width : 490px;
	height: 900px;
	display : flex;
	flex-direction : column;
	justify-content : center;
	align-items : center;
	border: 1px solid blue;
}