<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
   PUBLIC "-//mybatis.org/DTD Config 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- MyBatis가 동작할 때 어떻게 동작할지를 설정하는 내용이 포함된다. 상당히 많은 설정이 들어있다. 대부분 기본값으로 
		설정된 내용을 그대로 사용 아래부분만 일반적으로 설정해서 사용 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="logImpl" value="LOG4J2"/>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<typeAlias alias="Mypage" type="com.hyundai.thepet.mypage.vo.ReservVO" />
		<typeAlias alias="Review" type="com.hyundai.thepet.review.vo.ReviewVO" />
		<typeAlias alias="ReviewWrite" type="com.hyundai.thepet.review.vo.ReviewWriteVO" />
		<typeAlias alias="Location" type="com.hyundai.thepet.review.vo.LocationVO" />
		<typeAlias alias="Member" type="com.hyundai.thepet.member.vo.MemberVO" />
		<typeAlias alias="Reservation" type="com.hyundai.thepet.message.vo.ReservationVO" />
		<typeAlias alias="Dog" type="com.hyundai.thepet.dog.vo.DogVO" />
		<typeAlias alias="ReservationDetail" type="com.hyundai.thepet.reservationdetail.vo.ReservationDetailVO" />
		<typeAlias alias="ReivewTotal" type="com.hyundai.thepet.review.vo.ReviewTotalListVO" />
	</typeAliases>

</configuration>
